html, body, section {width:100%; height:100%;}

input,textarea {
	font-family: "Helvetica Neue",sans-serif;
}

      body {
        background-image: url('../img/bg.png');
        font-family: "Helvetica Neue",sans-serif;
        margin: 0;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

	li {
	    list-style: none;
	}

	#loader {
		margin: 90px auto;
		text-align: center;	
	}
    
h1#mainTitle {
	text-align: center;
	margin: 20px 0 10px;
	font-size: 87px;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);	
}

#wrapper {
	background: #FFFFEA;
	width: 540px;
	margin: 0 auto;
	min-height: 200px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0px 2px 6px #aaa;
}

#listHeader {
	display: inline-block;
	width: 100%;
}

#listName {
	float: left;
}

#listHeader, #addTaskButton {
	background: -moz-linear-gradient(
		top,
		#9B7A4F 0%,
		#664D29);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#9B7A4F),
		to(#664D29));	
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: 1px solid #333;
}

#listName, a#addTaskButton {
	padding: 10px;
	color: rgb(111, 83, 41);
	text-shadow: rgba(189, 161, 143, 0.4) 0px 1px 0, rgba(65, 48, 27, 0.52) 0 -1px 0;
	font-size: 24px;
	font-weight: bold;
}

#header {
	float: right;
}

a#ide {
	float: right;
	text-decoration: none;
	font-size: 8px;
	color: #E2E2E2;
	margin: 0 5px 0 0;
}

a:hover#ide {
	text-decoration: underline;
	cursor: pointer;
}

#footer, #footer a {
	text-align: center;
	padding: 20px;
	font-size: 12px;
	color: #aaa;
	position: relative;
	text-shadow: 1px 1px 0 #fff;
}


#footer a {
	padding: 0;
	color: #999;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}


#listWrapper h2 {
	margin: 20px;	
}

@media (max-width: 600px) {
	h1.mainTitle {
		font-size: 48px;
	}
}

.taskDescription {
	word-break: break-word;
}

.delete {
	float: right;
	margin: 0 10px 0 0;
	vertical-align: baseline;
	cursor: pointer;
	opacity: 0.5;
}

#wrapper ul {
	margin: 0;
	padding: 0;
	color: #555;
}

li.task {
	border-bottom: 1px #bbb dotted;
	display: table;
	width: 100%;
}

.taskViewWrapper, .taskEditorWrapper, .addTaskWrapper {
	border-left: 1px solid #f5d6d6;
}

.addTaskWrapper {
	margin: 0 0 0 40px;
}

.completionWrapper {
	cursor: pointer;
}

.taskView {
	height: 100%;
	border-left: 1px solid #f5d6d6;
	padding: 15px;	
	margin: 0 0 0 2px;

	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	-ms-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;

}

.taskEditor {
	height: 100%;
	border-left: 1px solid #f5d6d6;
	margin: 0 0 0 2px;
}

li.task:hover {
	background-color: #fffff4;
}

li.task img.delete {
	display: none;
}

div.taskView:hover img.delete {
	display: block;
}

.ui-sortable-helper {
	border-top: 1px #bbb dotted;
}

.taskDescription {
	margin: 0 0 0 10px;
	font-size: 18px;
}

#addTask {
	height: 100%;
	border-left: 1px solid #f5d6d6;
	margin: 0 0 0 2px;
}

#addTask input, .taskEditor input {
	color: #555;
	font-size: 18px;
	padding: 20px;
	font-family: "Helvetica Neue",sans-serif;
	font-style: italic;
	margin: 0;
	border: none;
}

.taskEditor input {
	width: 456px;
}

#addTask input {
	width: 387px;
}

a#addTaskButton {
	float: right;
	padding: 3px 14px;
	margin-top: 8px;
	margin-right: 10px;
	cursor: pointer;
	-webkit-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-moz-border-radiust: 3px;
	border-radius: 3px;
	border-radius: 3px;
	border-bottom: 1px solid #333;
		
	font-size: 32px;
	font-weight: bold;		
}

.completion {
	float: left;
}

.completionWrapper {
	clear: both;
	display: table-cell;
	vertical-align: middle;
	width: 30px;
	padding: 0 0 0 10px;
}

#listFooter:before {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 6px 0 -3px rgba(255, 255, 255, 0.8), 0 7px 1px -3px rgba(0, 0, 0, 0.3), 0 43px 0 -6px rgba(255, 255, 255, 0.8), 0 44px 2px -6px rgba(0, 0, 0, 0.2)

}

.completed {
	color: #aaa;
	text-decoration: line-through;
}

#details {
	float: right;
	padding: 1px 10px 0 0;
}

#metrics {
	margin: 0 2px 3px 0;
	text-align: right;
}

#listLoaderBar {
	text-align: center;
	top: 90px;
	position: relative;
}

.tab {
	float: right;
}


#tasks, #clients {
	color: rgb(111, 83, 41);
	text-shadow: rgba(189, 161, 143, 0.4) 0px 1px 0, rgba(65, 48, 27, 0.52) 0 -1px 0;
	font-size: 12px;
	margin: 0 0 0 10px;
}

.tab {
	background-color: rgb(111, 83, 41);
	box-shadow: rgba(65, 48, 27, 0.52) 0 1px 0, rgba(189, 161, 143, 0.4) 0px -1px 0;
	margin: 0 0 0 10px;
	padding: 0 8px 3px 8px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.tab span {
	color: rgb(111, 83, 41);
	font-size: 12px;
	text-shadow: rgba(189, 161, 143, 0.4) 0px 1px 0, rgba(65, 48, 27, 0.52) 0 -1px 0;
}

.selectedTab {
	box-shadow: rgba(189, 161, 143, 0.4) 0px 1px 0, rgba(65, 48, 27, 0.52) 0 -1px 0;
}

.selectedTab span {
	color: #D8C9A1;
}

#tipWrapper, #nayWrapper, #yayWrapper {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
}

#tip, #nay, #yay {
	position: relative;
	color: #333;
	padding: 10px 30px 30px;
	margin: 0 auto;
	width: 300px;
	font-size: 14px;
	box-shadow: 5px 5px 20px #333;

	background: -moz-linear-gradient(
		top,
		#CFCFCF 0%,
		#929292);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#CFCFCF),
		to(#929292));	
	
	
	-webkit-border-bottom-right-radius: 20px;
	-webkit-border-bottom-left-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	z-index: 1000;
}

.dismiss {
	background-color: rgb(250, 209, 149);
	box-shadow: rgba(65, 48, 27, 0.52) 0 1px 0, rgba(189, 161, 143, 0.4) 0px -1px 0;
	margin: 0;
	padding: 5px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
}

.bgText a {
	cursor: pointer;
}

.yayNay {
	margin: 0 0 0 20px;
}

#nay img, #yay img {
	box-shadow: rgba(255, 255, 255, 0.52) 0px 1px 0px, rgba(255, 255, 255, 0.4) 0px 0px 0;
	margin: -15px 0 0 0;
}

#feedback textArea {
	width: 300px;
	font-size: 14px;
	height: 100px;
	margin: 5px 0 0 0;
	padding: 2px;
}

#nay input, #yay input {
	width: 250px;
	font-size: 14px;
	padding: 2px;
}

.photoCredit {
	text-align: right;
}

.photoCredit a {
	font-size: 10px;
	color: #888 !important;
	font-weight: normal !important;
}

p.feedback a {
	color: #333;
	font-weight: bold;
	margin: 0 5px 0 0;
}


